.aside_container {
    --aside-hamburger-menu-open-animation-time: 1s;

    --aside-absolute-left-position: -290px;

    --aside-main-color: rgb(255, 255, 255);

    --aside-item-contrast: contrast(100%);
    --aside-item-border-color: rgb(155, 155, 155);
    --aside-item-link-color: black;

    --hover-effect-transition-time: 0.5s;

    --hover-item-color: rgb(184, 0, 0);
    --navigation-menu-right-arrow-state: none;

    --header-height: 90px;

    position: absolute;
    margin-top: var(--header-height);
    left: var(--aside-absolute-left-position);
    z-index: 10;
    width: 270px;
    min-height: calc(100% - var(--header-height));
    max-height: calc(100% - var(--header-height));
    background: var(--aside-main-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    transition: all var(--aside-hamburger-menu-open-animation-time) ease;
}

.aside_active {
    --aside-absolute-left-position: 0px;
}

.main_navigation_menu {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 25px;
    color: var(--aside-item-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main_navigation_menu_item {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, var(--hover-item-color) 50%, var(--aside-main-color)50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all var(--hover-effect-transition-time) ease;
}

.main_navigation_menu_item:hover {
    --aside-item-border-color: var(--hover-item-color);
    --aside-item-link-color: var(--aside-main-color);
    --aside-item-contrast: contrast(500%);
    --navigation-menu-right-arrow-state: block;
    background-position: left bottom;
    color: var(--aside-main-color);
}

.main_navigation_menu_item_link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    margin: 0;
    width: 75%;
    color: var(--aside-item-link-color);
    font-size: 1.1rem;
    user-select: none;
    text-decoration: none;
    border-bottom: 1px solid var(--aside-item-border-color);
    transition: all var(--hover-effect-transition-time) ease;
}

.main_navigation_menu_item_icon {
    flex: 1 1 50%;
    display: flex;
    justify-content: flex-start;
    max-width: 50px;
    transition:all var(--hover-effect-transition-time) ease;
}

.main_navigation_menu_item_icon img {
    filter: var(--aside-item-contrast) ;
    transition:all var(--hover-effect-transition-time) ease;
}

.main_navigation_menu_item_text {
    margin-right: 10px;
}

.main_navigation_menu_item_text_container {
    flex: 1 1 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.aside_copyright_container {
    font-size: 1rem;
    padding: 15px;
    bottom: 15px;
    color: rgb(122, 122, 122);
}

/* Всегда показывать меню при минимальной ширине 1440px */
@media (min-width: 1440px) {
    .aside_container {
        --aside-absolute-left-position: 0;
    }
}