.content_container {
    position: absolute;
    z-index: 1;
    margin-top: 90px;
    margin-left: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: calc(100% - 90px);
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    transition: all 1s ease;
}

.content_container_without_header {
    margin-top: 0;
    height: 100%;
}

.content_with_aside {
    margin-top: 90px;
    margin-left: 270px;
    max-width: calc(100% - 270px);
    max-height: calc(100% - 90px);
}

.content_fullscreen {
    margin-top: 0px;
    margin-left: 0px;
    min-width: 100%;
    min-height: 100%;
    transition: all 1s ease;
}

.content_footer_container {
    flex-grow: 1;
    min-width: 100%;
    min-height: 300px;
    height: fit-content;
    background: #f2f2f2;
}