.footer_container {
    background: white;
    z-index: 9;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 90px;
    margin-left: 0px;
    transition: all 1s ease;
}

.footer_copyright_container {
    padding: 15px 0px;
    width: 95%;
    border-top: 1px solid rgb(201, 201, 201);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: rgb(122, 122, 122);
}