.cart_items_container {
  position: relative;
  max-height: 50vh;
  max-width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow-x: auto;
}

.cart_list_container::before {
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  height: 100%;
  width: 100%;
  content: '';
  margin: auto auto;
}

.cart_list_container {
  position: relative;
  align-self: stretch;
}

.cart_items_container::-webkit-scrollbar {
  width: 2px;
}

.cart_items_container::-webkit-scrollbar-track {
  margin: 10px 0;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.cart_items_container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

.cart_total_cart_price_container {
  margin: 20px 0;
  text-align: center;
  font-size: 1.3rem;
  flex: 1 0 100%;
  color: black;
}

.cart_order_button_container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: black;
  text-align: center;
  transition: all 0.5s ease;
  border-radius: 5px;
}

.cart_order_button {
  background-image: linear-gradient(
    to right,
    #e52d27 0%,
    #b31217 51%,
    #e52d27 100%
  );
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  background-size: 200% 102%;
  background-position: right 5px top 0px;
  color: white;
  box-shadow: 0 0 10px rgba(255, 0, 0, 1);
  border-radius: 10px;
  transition: all 0.5s ease;
}

.cart_order_button:hover {
  background-position: left 5px top 0px;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1280px) {
  .cart_total_cart_price_container {
    font-size: 1.5vw;
  }
}

@media (max-width: 650px) {
  .cart_total_cart_price_container {
    font-size: 1rem;
  }
}
