.main_navigation_menu {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 25px;
  color: var(--aside-item-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main_navigation_menu_item {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    var(--hover-item-color) 50%,
    var(--aside-main-color) 50%
  );
  background-size: 200% 102%;
  background-position: right bottom;
  transition: all var(--hover-effect-transition-time) ease;
}

.main_navigation_menu_item:hover {
  --aside-item-border-color: var(--hover-item-color);
  --aside-item-link-color: var(--aside-main-color);
  --aside-item-contrast: contrast(500%);
  --navigation-menu-right-arrow-state: block;
  background-position: left bottom;
  color: var(--aside-main-color);
}

.main_navigation_menu_item_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
  margin: 0;
  width: 75%;
  color: var(--aside-item-link-color);
  font-size: 1.1rem;
  user-select: none;
  text-decoration: none;
  border-bottom: 1px solid var(--aside-item-border-color);
  transition: all var(--hover-effect-transition-time) ease;
}

.main_navigation_menu_item_icon {
  flex: 1 1 50%;
  display: flex;
  justify-content: flex-start;
  max-width: 50px;
  transition: all var(--hover-effect-transition-time) ease;
}

.main_navigation_menu_item_icon img {
  filter: var(--aside-item-contrast);
  transition: all var(--hover-effect-transition-time) ease;
}

.main_navigation_menu_item_text {
  margin-right: 10px;
}

.main_navigation_menu_item_text_container {
  flex: 1 1 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}