:root {
  --header-main-color: #f2f2f2;
  --header-height: 90px;
  --hamburger-menu-grow-animation-time: 1s;
  --arrow-down-grow-animation-time: 0.5s;
  --hover-main-color: rgb(175, 175, 175);
}
.header {
  height: 90px;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 900;
  background: var(--header-main-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.hamburger_menu_container {
  width: auto;
  height: auto;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  transition: all var(--hamburger-menu-grow-animation-time) ease;
}

.hamburger_menu_active {
  background: var(--hover-main-color);
  transform: rotateY(180deg);
}

.hover_element:hover {
  background: var(--hover-main-color);
  color: white;
  width: auto;
  height: auto;
}

.site_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site_logo {
  user-select: none;
  max-height: 100%;
  transition: all 1s ease;
}

.header_navigation {
  user-select: none;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  transition: all 1s ease,
  box-shadow 0s ease;
}

.header_menu_text {
  margin: 0px 15px;
  min-width: max-content;
}

.col {
  flex: 1 1 33%;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--hover-main-color);
  padding: 0 10px;
  margin: 10px 10px;
  border-radius: 10px;
  transition: all 1s ease;
}

.row {
  text-decoration: none;
  color: black;
  flex: 1 1 33%;
  display: flex;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--hover-main-color);
  padding: 0 10px;
  margin: 10px 10px;
  border-radius: 10px;
  transition: all 1s ease;
}

.col:hover,
.row:hover {
  background: var(--hover-main-color);
  color: white;
}

.arrow_down {
  box-sizing: border-box;
  margin: 0px 15px;
  border: 0px solid var(--header-main-color);
  border-radius: 50%;
  transition: border var(--arrow-down-grow-animation-time) ease,
    transform var(--arrow-down-grow-animation-time) ease;
}

.arrow_down:hover {
  border: 2px solid var(--hover-main-color);
  background: var(--hover-main-color);
}

.arrow_active {
  transform: rotateX(180deg);
  border: 5px solid var(--hover-main-color);
  border-radius: 5px;
  background: var(--hover-main-color);
}

.contact_phone_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_phone {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  background: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
}

.contact_phone:hover {
  z-index: +1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: rgb(175, 175, 175);
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1rem;
  text-decoration: none;
  padding: 5px 0px;
}

.phone_operator_icon {
  margin-right: 15px;
  height: 22px;
  width: 22px;
}

/* Landscape - телефоны */
@media (max-width: 480px) {
}

@media (max-width: 650px) {
  .header_menu_text {
    display: none;
  }
  .header_navigation {
    padding-top: 25px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f2f2f2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transition: all 1s ease;
  }
  .arrow_down {
    display: none;
  }
  .col {
    border: 1px solid var(--hover-main-color);
    transition: all 1s ease;
    margin: 0 5px;
    padding: 10px;
  }
  .col:hover {
    background: var(--hover-main-color);
  }
  .row {
    border: 1px solid var(--hover-main-color);
    transition: all 1s ease;
    margin: 0 5px;
    padding: 10px;
  }
  .row:hover {
    background: var(--hover-main-color);
  }
  .header {
    transition: all 1s ease;
  }
  .arrow_down {
    border: 0px solid var(--hover-main-color);
  }
  .contact_phone {
    flex: 1 1 100%;
    width: 100%;
    padding: 0;
  }
  .phone {
    transform: scale(1.50);
  }
}

/* От ландшафтного экрана телефона до потретного планшета */
@media (max-width: 767px) {
  .site_logo_container {
    margin: 0 25px;
    transition: all 1s ease;
  }
  .site_logo {
    height: 50px;
    transition: all 1s ease;
  }
  .header {
    font-size: 1.3rem;
    transition: all 1s ease;
  }
  .hamburger_menu_container {
    order: 1;
  }
}

/* От портретного планшета до ландшафтного экрана и настольных дисплеев */
@media (max-width: 768px) {
  .header_menu_text {
    display: none;
  }
  .header {
    font-size: 1.5rem;
    transition: all 1s ease;
  }
  .site_logo_container {
    margin: 0px 25px;
    transition: all 1s ease;
  }
  .hamburger_menu_container {
    order: 1;
  }
}

/* Большой дисплей */
@media (min-width: 980px) {
  .header {
    font-size: 1.5rem;
    transition: all 1s ease;
  }
  .site_logo_container {
    margin: 0px 50px;
    transition: all 1s ease;
  }
}

/* Не показывать кнопку меню при ширине минимум 1440px */
@media (min-width: 1440px) {
  .hamburger_menu_container, .hover_element {
    min-width: 0;
    width: 0;
    opacity: 0;
  }
  .site_logo_container {
    margin: 0;
  }
}
