.signup_header {
  max-height: 100%;
  min-width: 100%;
  background: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease;
}

.site_logo_container {
  max-width: 100%;
  transition: all 0.5s ease;
}

.site_logo {
  min-width: 75px;
  width: 100%;
  transition: all 0.5s ease;
}

.login_button_container {
  align-self: stretch;
  display: flex;
  justify-content: center;
  margin: 0 25px;
  transition: all 0.5s ease;
}

.login_button {
  box-sizing: border-box;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: white;
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
  padding: 0 25px;
  margin: 30px 10px;
  border-radius: 10px;
  border: 1px solid rgb(175, 175, 175);
  text-decoration: none;
  transition: all 0.5s ease;
}

.login_button:hover {
  background: rgb(175, 175, 175);
}

.signup_container {
  flex: 1 1 100%;
  padding: 70px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.signup_info {
  text-align: center;
  color: #f2f2f2;
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
  font-size: 1.4rem;
  transition: all 0.5s ease;
}

.row {
  margin: 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.field_container {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
}

.field_container_flex {
  font-size: 1rem;
  display: flex;
  flex: 0 1 50%;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.flex_start {
  justify-content: flex-start;
}

.flex_end {
  justify-content: flex-end;
}

.input {
  flex: 1 1 100%;
  box-sizing: border-box;
  padding: 15px;
  border: 2px solid black;
  border-radius: 4px;
}

.forgot_password {
  user-select: none;
  color: black;
  text-decoration: none;
}

.button {
  font-size: 1.3rem;
  flex: 1 1 100%;
  text-align: center;
  user-select: none;
  color: black;
  padding: 15px 60px;
  border-radius: 10px;
  border: 1px solid rgb(175, 175, 175);
  text-decoration: none;
  transition: all 0.5s ease;
}

.button:hover {
  background: rgb(175, 175, 175);
}

@media (max-width: 650px) {
  .signup_header {
    max-height: 100px;
    font-size: 1rem;
    margin: 0 10px;
    padding: 0px;
  }
  .site_logo_container {
    max-width: 75px;
  }
  .login_button_container {
    margin: 0 10px;
  }
  .login_button {
    margin: 20px 5px;
    padding: 15px 10px;
  }
  .signup_info {
    font-size: 1rem;
  }
  .field_container_flex {
    font-size: 0.7rem;
  }
  .button {
    font-size: 1rem;
  }
}

@media (min-width: 2560px) {
  .site_logo, .site_logo_container {
    width: 250px;
  }
  .input::placeholder, .input {
    font-size: 2.5rem;
    padding: 35px;
  }
  .signup_header {
    font-size: 3rem;
  }
  .signup_info {
    font-size: 2rem;
  }
  .field_container_flex {
    font-size: 2rem;
  }
  .button {
    font-size: 3rem;
  }
}
