.signup_header {
  max-height: 100%;
  min-width: 100%;
  background: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.site_logo_container {
  max-width: 100%;
}

.site_logo {
  user-select: none;
  min-width: 75px;
  width: 100%;
}

.login_button_container {
  align-self: stretch;
  display: flex;
  justify-content: center;
  margin: 0 25px;
}

.login_button {
  box-sizing: border-box;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: white;
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
  padding: 0 25px;
  margin: 30px 10px;
  border-radius: 10px;
  border: 1px solid rgb(175, 175, 175);
  text-decoration: none;
  transition: background 0.5s ease;
}

.login_button:hover {
  background: rgb(175, 175, 175);
}

.signup_form_wrapper {
  flex: 1 1 100%;
  align-self: center;
  max-width: 650px;
}

.signup_container {
  flex: 1 1 100%;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.signup_info {
  text-align: center;
  color: #f2f2f2;
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
  font-size: 1.4rem;
}

.row {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.no_bottom_margin {
  margin-bottom: 0;
}

.field_container {
  position: relative;
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
}

.field_container_flex {
  font-size: 1rem;
  display: flex;
  flex: 0 1 50%;
  justify-content: center;
  align-items: center;
}

.flex_start {
  justify-content: flex-start;
}

.flex_end {
  justify-content: flex-end;
}

.input {
  flex: 1 1 100%;
  box-sizing: border-box;
  padding: 15px;
  border: 2px solid black;
  border-radius: 4px;
  transition: border 0.5s ease;
}

.input_invalid {
  border: 2px solid red;
}

.input_valid {
  border: 2px solid rgb(0, 168, 0);
}

.field_container_valid::after {
  opacity: 100%;
  position: absolute;
  right: -25px;
  color: green;
  content: '✓';
}

.row.error_text {
  justify-content: flex-start;
  margin: 10px 0;
}

.input_error_text {
  justify-self: flex-start;
  font-size: 0.8rem;
  color: red;
}

.label {
  color: gray;
  font-size: 0.7rem;
  position: absolute;
  top: 5px;
  left: 17px;
  user-select: none;
  background: transparent;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input_empty > .label {
  font-size: 0.9rem;
  top: 1em;
  left: 15px;
}

.field_container:focus-within > .label {
  font-size: 0.7rem;
  top: 5px;
  left: 17px;
}

.forgot_password {
  user-select: none;
  color: black;
  text-decoration: none;
}

.button {
  font-size: 1.3rem;
  flex: 1 1 100%;
  text-align: center;
  user-select: none;
  color: black;
  padding: 15px 60px;
  border-radius: 10px;
  border: 1px solid rgb(175, 175, 175);
  text-decoration: none;
  transition: background 0.5s ease, color 0.5s ease;
}

.button:hover {
  color: white;
  background: rgb(175, 175, 175);
}

.button_active {
  color: white;
  background: green;
}

.button.button_active:hover {
  background: rgb(0, 185, 0);
  border: 1px solid rgb(0, 185, 0);
}

.active {
  display: flex;
}

@media (max-width: 650px) {
  .signup_header {
    max-height: 100px;
    font-size: 1rem;
    padding: 0px;
  }
  .site_logo_container {
    max-width: 75px;
  }
  .login_button_container {
    margin: 0 10px;
  }
  .login_button {
    margin: 20px 5px;
    padding: 15px 10px;
  }
  .signup_info {
    font-size: 1rem;
  }
  .field_container_flex {
    font-size: 0.7rem;
  }
  .button {
    font-size: 1rem;
  }
  .field_container_valid::after {
    margin-right: 5px;
  }
}

@media (min-width: 2561px) {
  .site_logo,
  .site_logo_container {
    width: 250px;
  }
  .input::placeholder,
  .input {
    font-size: 2.5rem;
    padding: 35px;
  }
  .signup_header {
    font-size: 3rem;
  }
  .signup_info {
    font-size: 2rem;
  }
  .field_container_flex {
    font-size: 2rem;
  }
  .button {
    font-size: 3rem;
  }
}
