.ingridient_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0;
}

.ingridient_span {
  word-break: break-all;
  min-width: 200px;
  max-width: 200px;
  max-height: fit-content;
  text-align: left;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.05);
  border: 0px solid rgb(175, 175, 175);
  border-radius: 5px;
  padding: 5px;
}

.ingridient_edit_buttons_container {
  margin: 0 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.edit_button {
  margin: 0 3px;
  font-size: 1.3rem;
}

.edit_button_container:hover {
  color: gray;
}

.edit_button_container {
  position: relative;
}

.edit_button_container > .button_tooltip_text {
  user-select: none;
  font-size: 1.2rem;
  position: absolute;
  bottom: 150%;
  right: 0;
  --button-tooltip-width: fit-content;
  display: none;
  background: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.edit_button_container:hover .button_tooltip_text {
  display: flex;
}

.edit_button_container > .button_tooltip_text::after {
  content: " ";
  position: absolute;
  right: 8px;
  bottom: -10px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}